{% extends 'layout/layout.html.twig' %}

{% block title %}Admininistration{% endblock %}

{% block body %}
    <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="/admin/user">Utilisateurs</a></button>
    <button type="button" class="btn btn-outline-primary"> <a class="nav-link" href="/admin/category">Categories</a></button>
    <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="/admin/dish">Plats</a></button>
    <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="/admin/allergen">Allergens</a></button>
    </br>
{% endblock %}
