{% extends 'base.html.twig' %}

{% block title %}admin insertion{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Insertion d'équipe✅</h1>
        <form>
            username :
            <input type="text" name="username"/>
            email :
            <input type="email" name="email"/>
            firstname :
            <input type="text" name="firstname"/>
            lastname :
            <input type="text" name="lastname"/>
            job title :
            <input type="text" name="jobTitle"/>
            enabled :
            <input type="checkbox" name="enabled"/>
        </form>
    </div>
{% endblock %}
